<launch>
  <node pkg="lili_audio" type="text_to_speech.py" name="text_to_speech" output="screen">
    <param name="lang" value="en" />
    <param name="slow" value="false" />
  </node>

  <node pkg="audio_play" type="audio_play" name="audio_play">
    <param name="dst" value="alsasink" />
  </node>
</launch>
