<launch>
  <arg name="robot_port" default="/dev/create_base"/>
  <arg name="description_urdf" default="$(find lili_description)/urdf/lili_3dsensor.urdf.xacro"/>

  <!--Create Robot Node-->
  <include file="$(find lili_bringup)/launch/robot.launch">
    <arg name="serialport" value="$(arg robot_port)"/>
    <arg name="description_urdf" value="$(arg description_urdf)"/>
  </include>

  <!-- 3D Sensor Node -->
  <include file="$(find lili_bringup)/launch/include/3dsensor.launch" />
</launch>
