<launch>
  <arg name="lidar_port" default="/dev/lidar"/>
  <arg name="robot_port" default="/dev/create_base"/>
  <arg name="description_urdf" default="$(find lili_description)/urdf/lili_lidar.urdf.xacro"/>

  <!--Create Robot Node-->
  <include file="$(find lili_bringup)/launch/robot.launch">
    <arg name="serialport" value="$(arg robot_port)"/>
    <arg name="description_urdf" value="$(arg description_urdf)"/>
  </include>

  <!--XV-11 LIDAR Node-->
  <include file="$(find lili_bringup)/launch/include/lidar.launch">
    <arg name="lidar_port" value="$(arg lidar_port)" />
  </include>
</launch>
